In [1]:
import pandas as pd

In [2]:
india_weather = pd.DataFrame({
    'city': ['mumbai', 'delhi', 'banglore'],
    'temperature': ['32', '45', '30'],
    'humidity': ['80', '60', '78']
})

india_weather

       city temperature humidity
0    mumbai          32       80
1     delhi          45       60
2  banglore          30       78

In [ ]:
us_weather = pd.DataFrame({
    'city': ['new york', 'chicago', 'orlando'],
    'temperature': [21, 14, 35],
    'humidity': [68, 65, 75]
})

us_weather